:root {
    --background-color: #272829;
    --text: #D8D9DA;
    --text2: #61677A;
    --highlight: #CECE5A;
    --text_selected: #ffffff;
    --selected: #765827;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
}

header {
    width: 100%;
    text-align: center;
    font-size: .8em;
    color: var(--text);
}

#content {
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

#customSearchBar {
    margin-bottom: 15px;
}

.selected {
    background-color: var(--selected);
    color: var(--text_selected) !important;
}

#results {
    height: 400px;
    overflow-y: scroll;
    position: relative;
}

#results div:hover {
    background-color: var(--selected);
}

#results a {
    text-decoration: none;
}

#results div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    color: var(--text);
    padding: 2px;
}

#results span.text {
    padding-left: 5px;
}

#results span.highlight {
    color: var(--highlight) !important;
}

#results span.url {
    color: var(--text2) !important;
}

.selected .url {
    color: var(--text) !important;
}

#resultsInfo {
    margin-top: 20px;
    color: var(--text);
}

img.favicon {
    width: 10px;
    height: 10px;
}
